# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# System Files
*.DS_Store

# build info
*.tsbuildinfo
*.swp
*.env*
!.env.template

npm-debug.log*
yarn-debug.log*
yarn-error.log*

